*{
	padding: 0;
	margin: 0;
}
html,body{
	background: #f2f2f2;
	height: 100%;

}
header{
	background-image: url('../img/fondo.png');
	height: 100%;
	background-position: top center;
	/*Dejar en memoria del navegador*/
	background-attachment: fixed; 
	background-size: cover;
	background-color: #c3c3;
}
header div.text-header h3{
	margin: 15em 1em 0 5em;
	display: inline-block;
	text-align: center;
	color: white;
}
header div.text-header p{
	margin-left: 3em;
	margin-right: 50em;
	color: white;
	text-align: justify;
}
header div.button-downloads{
	margin-left: 3em;
	margin-right: 50em;
	margin-top: 1em;
}
header div.button-downloads a{
	text-decoration: none;
    padding: 10px;
    font-weight: 300;
    font-size: 20px;
    color: #ffffff;
    background-color: #E65B00;
    border-radius: 6px;
    border: 2px solid #E65B00;
}
nav{
	float: left;
	margin-top: 1em;
	position: fixed;

}
nav a{
	font-family: 'Kavivanar', cursive;	
	background: rgba(255,255,255,0.07);
	text-decoration: none;
	color: #2FC300;
	font-size: 1.5em;
	padding: 5px 10px;
	margin-top: 2px;
	text-shadow: 2px 2px 2px #E65B00;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;

}
nav a:hover{
	background: transparent;
	color: #c4d85a;
	text-shadow: 0px 0px 10px #AE0079;
}
/*nav div a i{
	color: blue;
	padding: 0 0 0 20em;
}*/
main{
	width: 100%;
	margin: 0 auto;
}
main .space{
	padding: 0 0 25em 0;
}
main .space-about h2{
	display: block;
	font-family: 'Kavivanar', cursive;	
	padding: 3em 0;
	text-align: center;
	letter-spacing: 2px;

}
main .space-about img.about-android{
	margin-top: -5em;
	width: 25%;
}
main .space-about div.about-info{
	background-color:rgba(71,80,23,0.1);
	width: 50%; 
	height: 200px;
    margin: 0 5em;
	float: right;
	text-align: justify;
}
main .space-about div.about-info a{
	text-decoration: none;
    font-size: 20px;
    margin-left: 27em;
    color: #ffffff;
    text-align: center;
    background-color: #2FC300;
    border-radius: 6px;
    border: 2px solid #2FC300;
}


main .space-contact h2{
	display: block;
	font-family: 'Kavivanar', cursive;	
	padding: 3em 0;
	text-align: center;
	letter-spacing: 2px;

}

main .space-contact input[type=text],  textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

main .space-contact input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

main .space-contact input[type=submit]:hover {
    background-color: #45a049;
}

main .space-contact table.container {
	display: block;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
main .space-contact table.container td.tr-maps {
	margin: ;
}
main .space-contact table.container td.tr-form {
	/*background-color: blue;
	margin-left: 10px;
	margin-right: 10px;*/
}

main .space-suscribtion h2{
	display: block;
	font-family: 'Kavivanar', cursive;	
	padding: 3em 0;
	text-align: center;
	letter-spacing: 2px;

}
footer{
	background: #000;
	color: #333;
	padding:  3em 0;
	text-align: center;
}
footer h6 a{
	text-decoration: none;
}


.space-clientes {
	width: 100%;
	overflow: hidden;
}
.space-clientes ul{
	list-style: none;
	overflow: hidden;
	width: 80%;
	margin: 0 auto;
}
.space-clientes ul li{
	text-align: center;
	width: 25%;
	margin: 1% 4.1%;
	float: left;
}